<div class="overflow-auto mt-3 text-decoration-none">
  <a href="/blogpost/{{id}}" class="overflow-auto mt-3 text-decoration-none text-dark">
    <div class="card text-decoration-none" style="width: 18rem;">
      <div class="card-body">
        <h3 class="card-title">{{title}}</h3>
        <div class="d-flex w-100 justify-content-between">
          <h6>By {{user.name}}</h6>
          <small>created on {{format_date created_at}}</small>
        </div>
      </div>
      <div>
        <a class="btn btn-primary" href="/dashboard/edit/{{id}}">Edit</a>
      </div>
    </div>
  </a>
</div>

